@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBook.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url('../fonts/BebasNeueRegular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic-Bold.woff');
  font-weight: 700;
}